node_modules/
dist/
.aws-sam/
.env
coverage/
dataset.config.json
datasets/raw/**
!datasets/raw/
!datasets/raw/positive/
!datasets/raw/positive/.gitkeep
!datasets/raw/negative/
!datasets/raw/negative/.gitkeep
datasets/manifests/**
!datasets/manifests/
!datasets/manifests/.gitkeep
local-storage/**
!local-storage/
!local-storage/events/
!local-storage/events/.gitkeep
!local-storage/uploads/
!local-storage/uploads/.gitkeep
